### Reading file

In [2]:
file_path = "files/file1.txt"
file1 = open(file_path, "r")

In [3]:
file1.name

'files/file1.txt'

In [4]:
file1.mode

'r'

In [6]:
content = file1.read()

In [7]:
content

'This is line 1 \nThis is line 2\nThis is line 3'

In [8]:
print(content)

This is line 1
This is line 2
This is line 3

In [9]:
type(content)

str

In [11]:
file1.close()

In [13]:
file1.closed

True

In [17]:
with open(file_path, 'r') as file1: #automatically closed
    content = file1.read()
    print(content)

This is line 1
This is line 2
This is line 3

In [18]:
file1.closed

True

In [20]:
with open(file_path, "r") as file1:
    content = file1.read(6)
    print(content)

This i

In [21]:
with open(file_path, "r") as file1:
    print(file1.read(6))
    print(file1.read(2))
    print(file1.read(4))
    print(file1.read(1))
    print(file1.read(5))

This i
s
line

1
Th

In [22]:
with open(file_path, "r") as file1:
    print("Read a line: "+file1.readline())

Read a line: This is line 1

In [23]:
with open(file_path, "r") as file1:
    i = 0
    for line in file1:
        print("Line ", str(i), ": ", line)
        i = i + 1

Line  0 :  This is line 1

Line  1 :  This is line 2

Line  2 :  This is line 3

In [24]:
with open(file_path, "r") as file1:
    file_as_list = file1.readlines()

In [25]:
file_as_list[0]

'This is line 1 \n'

In [26]:
file_as_list[1]

'This is line 2\n'

In [27]:
file_as_list[2]

'This is line 3'

### Writing

In [28]:
with open('files/file_write.txt', "w") as file_w:
    file_w.write("Write to a file")

In [29]:
with open('files/file_write.txt', "r") as file_r:
    print(file_r.read())

Write to a file

In [30]:
with open('files/file_write.txt', "w") as file_w:
    file_w.write("Write the first line\n")
    file_w.write("Write the second line\n")

In [31]:
with open("files/file_write.txt", "r") as file_r:
    print(file_r.read())

Write the first line
Write the second line

In [32]:
with open("files/file_write.txt", "a") as file_a:
    file_a.write("Append a new line to the file")

In [33]:
with open("files/file_write.txt", "r") as file_r:
    print(file_r.read())

Write the first line
Write the second line
Append a new line to the file

In [34]:
#Copy file

with open("files/file_write.txt", "r") as file_r:
    with open("files/new_file_write.txt", "w") as file_w:
        for line in file_r:
            file_w.write(line)

In [35]:
with open("files/new_file_write.txt", "r") as file_r:
    print(file_r.read())

Write the first line
Write the second line
Append a new line to the file

### Pandas

In [36]:
import pandas as pd

In [37]:
album_df = pd.read_csv('files/TopSellingAlbums.csv')

In [38]:
album_df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [39]:
album_df_xlsx = pd.read_excel('files/TopSellingAlbums.xlsx')

In [40]:
album_df_xlsx.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

In [42]:
length_df = album_df[['Length']]
length_df

    Length
0  0:42:19
1  0:42:11
2  0:42:49
3  0:57:44
4  0:46:33
5  0:43:08
6  1:15:54
7  0:40:01

In [43]:
length_series = album_df['Length']
length_series

0    0:42:19
1    0:42:11
2    0:42:49
3    0:57:44
4    0:46:33
5    0:43:08
6    1:15:54
7    0:40:01
Name: Length, dtype: object

In [44]:
length_df_type = type(length_df)
length_df_type

pandas.core.frame.DataFrame

In [45]:
length_series_type = type(length_series)
length_series_type

pandas.core.series.Series

In [46]:
multiple_columns_df = album_df[['Artist', 'Genre', 'Length']]
multiple_columns_df

            Artist                        Genre   Length
0  Michael Jackson               pop, rock, R&B  0:42:19
1            AC/DC                    hard rock  0:42:11
2       Pink Floyd             progressive rock  0:42:49
3  Whitney Houston               R&B, soul, pop  0:57:44
4        Meat Loaf  hard rock, progressive rock  0:46:33
5           Eagles   rock, soft rock, folk rock  0:43:08
6         Bee Gees                        disco  1:15:54
7    Fleetwood Mac                    soft rock  0:40:01

In [48]:
album_df.iloc[0, 0] #first row, first column

'Michael Jackson'

In [49]:
album_df.iloc[0, 2] #first row, third column

1982

In [50]:
album_df.iloc[2, 1] #third row, second column

'The Dark Side of the Moon'

In [51]:
album_df.loc[0, 'Artist'] #access the column using the name

'Michael Jackson'

In [52]:
album_df.loc[0, 'Released']

1982

In [53]:
album_df.loc[2, 'Album']

'The Dark Side of the Moon'

In [55]:
album_df.iloc[0:2, 2:4]

   Released   Length
0      1982  0:42:19
1      1980  0:42:11

In [57]:
album_df.loc[0:2, "Released":"Genre"]

   Released   Length             Genre
0      1982  0:42:19    pop, rock, R&B
1      1980  0:42:11         hard rock
2      1973  0:42:49  progressive rock

In [58]:
rating_df = album_df[['Rating']]

In [59]:
rating_df

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5